.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: 2rem;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.submit {
    align-self: flex-end;
}